%h1==Averages for #{@year} Season
%h3 Batting
%p Required: 5 completed innings
%table
    %thead
        %tr
            %th &nbsp;
            %th Player
            %th Matches
            %th Innings
            %th Not Out
            %th Highest
            %th Runs
            %th Average
    %tbody
        - @perfs[:included].each_with_index do |p, pos|
            %tr
                %td= pos
                %td= link_to player_name(p), controller: "players", action: "show", code: p.code
                %td.number= p.matches
                %td.number= p.innings
                %td.number= p.notout
                %td.number= highest_score(p.highest, p.highestnotout)
                %td.number= p.runsscored
                %td.number= number_with_precision(p.bat_avg, precision: 2)
        %tr
            %td{colspan: 8} Also:
        - @perfs[:also].each do |p|
            %tr
                %td &nbsp;
                %td= link_to player_name(p), to: '/players/' + p.code
                %td.number= p.matches
                %td.number= p.innings
                %td.number= p.notout
                %td.number= highest_score(p.highest, p.highestnotout)
                %td.number= p.runsscored
                %td.number= number_with_precision(p.bat_avg, precision: 2)
