%h2 Season Result Summary
%table
    %thead
        %th Year
        %th Played
        %th Won
        %th Lost
        %th Drawn
        %th Tied
        %th No Result
        %th Max Poss. Games
    %tbody
        - for ssn in @seasons
            %tr{class: cycle('odd', 'even')}
                %td.number= link_to ssn.year, "/season/averages/" + ssn.year.to_s
                %td.number= ssn.played
                %td.number= ssn.won
                %td.number= ssn.lost
                %td.number= ssn.drawn
                %td.number= ssn.tied
                %td.number= ssn.noresult
                %td.number= ssn.maxpossiblegames
