=form_with url: players_appearances_url, method: :get do |form|
  = form.label :min_matches, "Min matches: "
  = form.number_field :min_matches, value: params[:min_matches] || 10
  = form.label :active_from, "Active from: "
  = form.number_field :active_from, value: params[:active_from] || (Date.today.year - 10)
  = form.submit "Refresh"

%h3==#{@players.size} player records found

%table
  %thead
    %th Name
    %th From
    %th To
    %th Appearances
  %tbody
    - for player in @players
      %tr{class: cycle('odd', 'even')}
        %td= link_to player_name(player), '/players/' + player.code
        %td= player.from_yr
        %td= player.to_yr
        %td.number= player.appearances
