%h1 Player Season History
%h2
  = @player.name
%table
  %thead{bgcolor: '#d9b2b2'}
    %th Year
    %th Matches
    %th Innings
    %th NotOut
    %th Highest
    %th Runs
    %th Bat Avg
    %th Fifties
    %th Hundreds
    %th Fours
    %th Sixes
    %th Overs
    %th Maidens
    %th Conceded
    %th Wickets
    %th Bowl Avg
    %th Five+
    %th Caught
    %th Stumped
    %th CaughtWkt
    %th Captain
    %th KeptWicket
  %tbody
    - @performances.each do |perf|
      %tr{class: cycle('odd', 'even')}
        %td.number= perf.year
        %td.number= perf.matches
        %td.number= perf.innings
        %td.number= perf.notout
        %td.number= perf.high_score
        %td.number= perf.runsscored
        %td.number= number_with_precision(perf.bat_avg, precision: 2)
        %td.number= perf.fifties
        %td.number= perf.hundreds
        %td.number= perf.fours
        %td.number= perf.sixes
        %td.number= perf.overs_and_balls
        %td.number= perf.maidens
        %td.number= perf.runs
        %td.number= perf.wickets
        %td.number= number_with_precision(perf.bowl_avg, precision: 2)
        %td.number= perf.fivewktinn
        %td.number= perf.caught
        %td.number= perf.stumped
        %td.number= perf.caughtwkt
        %td.number= perf.captain
        %td.number= perf.keptwicket
    %tr{class: cycle('odd', 'even')}
      %td TOTAL
      %td.number= @total[:matches]
      %td.number= @total[:innings]
      %td.number= @total[:notout]
      %td.number= @total[:high_score]
      %td.number= @total[:runsscored]
      %td.number= number_with_precision(@total[:bat_avg], precision: 2)
      %td.number= @total[:fifties]
      %td.number= @total[:hundreds]
      %td.number= @total[:fours]
      %td.number= @total[:sixes]
      %td.number= @total[:overs_and_balls]
      %td.number= @total[:maidens]
      %td.number= @total[:runs]
      %td.number= @total[:wickets]
      %td.number= number_with_precision(@total[:bowl_avg], precision: 2)
      %td.number= @total[:fivewktinn]
      %td.number= @total[:caught]
      %td.number= @total[:stumped]
      %td.number= @total[:caughtwkt]
      %td.number= @total[:captain]
      %td.number= @total[:keptwicket]