= form_with url: batting_averages_url, method: :get do |form|
    = form.label :min_innings, "Minimum completed innings: "
    = form.number_field :min_innings, value: params[:min_innings || 10]
    = form.submit "Refresh"

%table
    %thead
        %tr
            %th &nbsp;
            %th Player
            %th Matches
            %th Innings
            %th Not Out
            %th Highest
            %th Runs
            %th Average
            %th Fours
            %th Sixes
            %th Fifties
            %th Hundreds
    %tbody
        - @player_bat_aves.each_with_index do |p, pos|
            %tr{class: cycle('odd', 'even')}
                %td.number= pos + 1
                %td= link_to player_name(p), "/players/#{p.code}"
                %td.number= p.matches
                %td.number= p.innings
                %td.number= p.notout
                %td.number= p.highest
                %td.number= p.runsscored
                %td.number= number_with_precision(p.batave, precision: 2)
                %td.number= p.fours
                %td.number= p.sixes
                %td.number= p.fifties
                %td.number= p.hundreds
