!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Stan
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('favicon.ico')
  %body
    %header.main
      =image_tag asset_path('stan.png'), alt: "Stan - The Trinity Oxley Cricket Club Statistical History"
      %p The Trinity Oxley CC Statistical Maroon & Gold Mine
    %section.content
      %nav.side_nav
        %span{style: "color: white;"}
          Players
        %ul
          %li{onclick: "getReport('players')"} Appearances
          %li{onclick: "getReport('captains')"} Captains
        %span{style: "color: white;"}
          Seasons
        %ul
          %li{onclick: "getReport('results')"} Results
          %li{onClick: "getReport('')"} Records
        %span{style: "color: white;"}
          Batting
        %ul
          %li{onClick: "getReport('')"} Career Average
          %li{onClick: "getReport('')"} Career Runs
          %li{onClick: "getReport('')"} Centuries
        %span{style: "color: white;"}
          Bowling
        %ul
          %li{onClick: "getReport('')"} Career Average
          %li{onClick: "getReport('')"} Career Wickets
          %li{onclick: 'getReport("best_bowling")'} Five wickets or more
      %main
        %h1#page_title Report appears here
        %h5#subtitle
        #data
