!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Stan
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('favicon.ico')
  %body
    %header.main
      =image_tag asset_path('stan.png'), alt: "Stan - The Trinity Oxley Cricket Club Statistical History"
      %p The Trinity Oxley CC Statistical Maroon & Gold Mine
    %section.content
      %nav.side_nav
        %span{style: "color: white;"}
          Players
        %ul
          %li{onclick: "getReport('players')"} Appearances
          %li= link_to 'Captains', '/players/captains'
        %span{style: "color: white;"}
          Seasons
        %ul
          %li= link_to 'Results', '/seasons'
          %li= link_to 'Records', '/season_records'
        %span{style: "color: white;"}
          Batting
        %ul
          %li=link_to 'Career Average', '/batting/averages'
          %li=link_to 'Career Runs', '/batting/most_runs'
          %li=link_to 'Centuries', '/batting/hundred_plus'
        %span{style: "color: white;"}
          Bowling
        %ul
          %li=link_to 'Career Average', '/bowling/averages'
          %li=link_to 'Career Wickets', '/bowling/wickets'
          %li{onclick: 'getReport("best_bowling")'} Five wickets or more
      %main
        %h1#page_title Report appears here
        #data
