!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Stan
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('favicon.ico')
  %body
    %header.main
      =image_tag asset_path('stan.png'), alt: "Stan - The Trinity Oxley Cricket Club Statistical History"
      %p The Trinity Oxley CC Statistical Maroon & Gold Mine
    %section.content
      %nav.side_nav
        %ul
          - reports_menu.each do |category, items|
            %li.category= category
            - items.each do |item|
              %li{onclick: "getReport('#{item.first}')"}= raw '&bullet; ' + item.last
      %main
        %h1#page_title Report appears here
        %h5#subtitle
        #filter
        #data
