!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Stan
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('favicon.ico')
  %body
    %header.main
      =image_tag asset_path('stan.png'), alt: "Stan - The Trinity Oxley Cricket Club Statistical History"
      %p The Trinity Oxley CC Statistical Maroon & Gold Mine
    %section.content
      %nav.side_nav
        %ul
          %li Players
          %li= link_to 'Appearances', '/players'
          %li Seasons
          %li= link_to 'Results', '/seasons'
          %li= link_to 'Records', '/season_records'
          %li Batting
          %li=link_to 'Career Average', '/batting/averages'
          %li=link_to 'Career Runs', '/batting/most_runs'
          %li=link_to 'Centuries', '/batting/hundred_plus'
          %li Bowling
          %li=link_to 'Career Average', '/bowling/averages'
          %li=link_to 'Career Wickets', '/bowling/most_wickets'
          %li=link_to 'Five-Fors', '/bowling/five_fors'
      %main{class: controller.controller_name}
        %h1= @page_title
        = yield
