!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Stan
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('favicon.ico')
  %body
    %div
      %img{src: asset_path('stan.png')}
      %ul.menu
        %li.menu= link_to 'Players', '/players'
        %li.menu= link_to 'Season Results', '/seasons'
        %li.menu= link_to 'Season Records', '/season_records'
        %li.menu.dropdown
          Batting
          %div.dropdown-content
            =link_to 'Career Average', '/batting/averages'
            =link_to 'Career Runs', '/batting/most_runs'
            =link_to 'Centuries', '/batting/hundred_plus'
        %li.menu.dropdown
          Bowling
          %div.dropdown-content
            =link_to 'Career Average', '/bowling/averages'
            =link_to 'Career Wickets', '/bowling/most_wickets'
            =link_to 'Five-Fors', '/bowling/five_fors'
    = yield
