%table
    %thead
        %tr
            %th{rowspan: 2, bgcolor: '#90ee90'} Year
            %th{colspan: 4, bgcolor: '#d9b2b2'} Trinity
            %th{colspan: 4, bgcolor: '#ccd3d9'} Opponents
            %th{colspan: 4, bgcolor: '#d9b2b2'} Extras - Trinity
            %th{colspan: 4, bgcolor: '#ccd3d9'} Extras - Opponents
        %tr
            - 2.times do
                %th Runs Scored
                %th Wickets Lost
                %th Highest
                %th Lowest
            - 2.times do
                %th Byes
                %th Leg Byes
                %th Wides
                %th No Balls
    %tbody
        - for yr, rec in @season_records
            %tr{class: cycle('odd', 'even')}
                %td= yr
                - ['TCC', 'Opp'].each do |club|
                    %td.number= rec[club].runsscored
                    %td.number= rec[club].wicketslost
                    %td= rec[club].highest_match
                    %td= rec[club].lowest_match
                - ['TCC', 'Opp'].each do |club|
                    %td.number= rec[club].byes
                    %td.number= rec[club].legbyes
                    %td.number= rec[club].wides
                    %td.number= rec[club].noballs
